<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增流量统计')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-流量统计-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">PV流量：</label>
                <div class="col-sm-8">
                    <input name="pvNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">UV流量：</label>
                <div class="col-sm-8">
                    <input name="uvNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">IP流量：</label>
                <div class="col-sm-8">
                    <input name="ipNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备用1：</label>
                <div class="col-sm-8">
                    <input name="filed1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备用2：</label>
                <div class="col-sm-8">
                    <input name="filed2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备用3：</label>
                <div class="col-sm-8">
                    <input name="filed3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/流量统计"
        $("#form-流量统计-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-流量统计-add').serialize());
            }
        }
    </script>
</body>
</html>
